<!doctype html>

<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	  	<title>Availability Checker</title>
	</head>
		<h1 id="headline"><center><p id=rcorners1>There are <span id="counter">{{num}}</span> people in Carm right now!</p></center></h1>

		<p>This website allows people who visit it to check the occupancy in Carmichael Dining Hall. We find it may be useful for those who want to have a meal but aren't sure if they will find a seat or not.</p>

		<p>We have created this system as a final project for the our Creativity, Fabrication, & Problem Solving Class.</p>
</html>